
deeplabcut/pose_estimation_tensorflow/models/pretrained/resnet_v1_101.ckpt
deeplabcut/pose_estimation_tensorflow/models/pretrained/resnet_v1_50.ckpt
*.ckpt
*.ckpt
*.vscode
*.mp4
*.mp4
*.tdms
*.png
*.jpg
*.xml
*.idea
*.pyc
deeplabcut/pose_estimation_tensorflow/models/pretrained/resnet_v1_101.ckpt
deeplabcut/pose_estimation_tensorflow/models/pretrained/resnet_v1_50.ckpt
