
deeplabcut/pose_estimation_tensorflow/models/pretrained/resnet_v1_101.ckpt
deeplabcut/pose_estimation_tensorflow/models/pretrained/resnet_v1_50.ckpt
*.ckpt
*.ckpt
*.vscode
*.avi
*.mp4
*.tdms
*.png
*.jpg
*.xml
deeplabcut/pose_estimation_tensorflow/models/pretrained/resnet_v1_101.ckpt
deeplabcut/pose_estimation_tensorflow/models/pretrained/resnet_v1_50.ckpt
